<!DOCTYPE html>
<html>

    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/{PUBLIC_URL}/style/style.css">
        <script src="/{PUBLIC_URL}/js/index.js"></script>
        <!--
        Notice the use of {PUBLIC_URL} in the tags above.
        It will be replaced with the URL of the `public` folder during the build.
        Only files inside the `public` folder can be referenced from the HTML.
        -->
    </head>

    <body>
        <div id="star_wars_app">
            <div class="loading">Loading</div>
            <div class="movies_title_container"></div>
            <div class="details_container">
                <div class="title"></div>
                <div class="description"></div>
                <div class="release_date"></div>
            </div>
        </div>
    </body>

</html>